*.
/*.bak
/*.gcda
/*.gcno
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/AUTHORS
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/README
/TAGS
/aclocal.m4
/autom4te.cache
/autoscan.log
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/mkinstalldirs
/build-aux/test-driver
/build-aux/ylwrap
/config.cache
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/configure
/configure.lineno
/configure.scan
/ibus-table-tlim2-1.0.tar.gz
/ibus-table-tlim2-1.0.tar.xz
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/so_locations
/stamp-h1
/tables/tlim2.db
/tables/tlim2.txt
/tags
